{{ define "main" }}
  <div class="container main-s">
    <div class="row">
      <div class="d-none d-sm-block col-sm-2 " data-bs-toggle="collapse">
        {{ partial "aside.html" . }}
      </div>
      <div class="col">
        <h1 class="mt-5">{{ .Title | markdownify }}</h1>
        {{ if .Params.Subtitle }}
          <h2 class="font-weight-light font-italic mb-3">
            {{ .Params.Subtitle | markdownify }}
          </h2>
        {{ end }}
        <p class="text-muted mt-3">
          <a class="text-muted" href="{{ .Permalink }}"
            >Published {{ .Date.Format "January 2, 2006" }}</a
          >

          {{ range .Params.tags }}
            <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}"
              >#{{ . }}</a
            >
          {{ end }}
        </p>

        <article class="article mt-5">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>

  {{ if or .Next .Prev }}
    <div class="py-5 nex-prev">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            {{ if .Prev }}
            &lt;
              <a href="{{ .Prev.Permalink | relURL }}" class="link-dark"
                >{{ .Prev.Title | markdownify }}</a
              >
            {{ end }}
          </div>
          <div class="col-md-6 text-center">
            {{ if .Next }} 
              <a href="{{ .Next.Permalink | relURL }}" class="link-dark"
                >{{ .Next.Title | markdownify }}</a
              >
              &gt;
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}


{{ end }}
