{{ define "main" }}
  <div class="jumbotron">
    <div class="container">
      <p class="lead">{{ .Site.Params.Description }}</p>
      {{ .Content }}
    </div>
  </div>

  <div class="container">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ $year := .Date.Year }}
      {{ $lastYear := $.Scratch.Get "lastYear" }}
      {{ if ne $year $lastYear }}
        <div class="row mt-2">
          <div class="d-none d-sm-block col-sm-2 offset-sm-2 text-end">
            <time
              class="post-date"
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"
              ></time
            >
          </div>
          <div class="col txt-de">
            <p class="text-muted mt-5">{{ $year }}</p>
            {{ $.Scratch.Set "lastYear" $year }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="d-none d-sm-block col-sm-2 offset-sm-2 text-end">
            <time
              class="post-date"
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"
              >{{ .Date.Format "Jan 2, 2006" }}</time
            >
          </div>
          <div class="col txt-de">
            <a class="text-body p-title" href="{{ .Permalink | relURL }}"
              >{{ if .Draft }}DRAFT:{{ end }}{{ .Title | markdownify }}</a
            >
            <br /> 
            {{ range .Params.tags }}
              <a
                class="text-muted fw-lighter fst-italic"
                href="{{ "/tags/" | relURL }}{{ . | urlize }}"
                >#{{ . }}</a
              >
            {{ end }}
          </div>
        </div>
      {{ else }}
        <div class="row mt-2">
          <div class="d-none d-sm-block col-sm-2 offset-sm-2 text-end">
            <time
              class="post-date"
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"
              >{{ .Date.Format "Jan 2, 2006" }}</time
            >
          </div>
          <div class="col txt-de">
            <a class="text-body p-title" href="{{ .Permalink | relURL }}"
              >{{ if .Draft }}DRAFT:{{ end }}{{ .Title | markdownify }}</a
            >
            <br />
            {{ range .Params.tags }}
              <a
                class="text-muted fw-lighter fst-italic"
                href="{{ "/tags/" | relURL }}{{ . | urlize }}"
                >#{{ . }}</a
              >
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
